--- 
layout: _layouts/page.html
breadcrumb:
  - enName: Common Sitelen Pona
    sLName: sitelen pona kulupu 
    spName: sitelen pona kulupu
    link: /common/
  - enName: Method
    sLName: nasin pi alasa sona
    spName: nasin pi alasa sona
    link: /method.html
---

<style>
    .chapters{
        list-style:none;
        padding: 0;
        background-color: var(--kule-1);
    }
    .chapters li{
        padding-left: 0.25em;
        padding-bottom: 0.5em;
        padding: 0.5em 1em;
        min-height: 4rem;
        display: flex;
        align-items: center;
        border: 0.005rem solid var(--pimeja);
    }
    .chapters li:not(:last-of-type){
        border-bottom: none;
    }
    .chapters a{
        color: var(--pimeja);
        text-decoration: none;
    }
    .chapters a:is(:hover, :focus-visible){
        text-decoration: underline;
        color: var(--pimeja);
    }
    
    .chapters [aria-current="page"]{
        background-color: var(--kule-3);
    }

    main{
        position: relative;
    }

    span:has(.tiers){
    margin: auto;
}
.tiers :is(td, th){
    padding: .5rem 2rem .5rem .5rem;
    max-width: 30rem;
    vertical-align: top;
}
.tiers td:first-of-type{
    white-space: nowrap;
}
thead {
    border-bottom: solid 2px var(--pimeja);
}
.tiers{
    margin-block: 2em;
    text-align: left;
    border-collapse: collapse
}
.tiers[lang="en"]{
    width: var(--en-split);
    max-width: 100%;
}
tbody tr:nth-child(2n-1) {
    background-color: var(--kule-1);
}
caption {
    text-align: left;
    padding-left: .5rem;
}
h3, h4{
    margin: 2rem auto 0;
}

.tech{
    background-color: var(--kule-1);
    margin-block: 0.2rem;
    font-family: monospace;
}

.next{
    text-align: right;
    margin: 2rem 0;
    color: var(--pimeja);
    font-variation-settings: "wdth" 75;
    justify-self: end;
    max-width: calc(var(--en-split) + var(--sp-split));
    grid-column: 2 / 5;
}
.split:has(.chapters){
    justify-items: center;
    justify-content: center;
    align-items: center;

}
.split:has(.chapters) :is(span[lang="tok"], span[lang="en"]){
    max-width:20rem;
}

.next a{
    display: block;
}

@media (min-width: 60rem) and (min-height: 60rem){

    :is([data-selected-language="en"], [data-selected-language="tok"]) {
        .split.split:has(.chapters){
            position: fixed;
            top: 12rem;
            right: 0;
            justify-items: right;
            max-width: 20rem;
        }

    }
    
}
@media (min-width: 60rem) and (max-width:105rem)and (max-height: 70rem){
    footer p:has(span.ui-en){
        grid-column: 2 !important;
        
    }
}

@media (min-width: 140rem) and (min-height: 60rem){
    :is([data-selected-language="en"], [data-selected-language="tok"]) {
    .split.split:has(.chapters){
            left: 25rem;

        }
    }
}
@media (min-width: 30rem){
    :is([data-selected-language="en"], [data-selected-language="tok"]) .split:has(.chapters){
        justify-items: start;
    }
}




</style>


{{ content }}
{% assign nextPost = collections.sorted_method | getNextCollectionItem: page %}



{% split %}
{% if nextPost %}
    <div class="next" >
            <p>
                <span>
                    {% include "partials/ui-translate.liquid",
                        enName: "Next:",
                        spName: "lipu kama li ni>zz",
                        sLName: "lipu kama:" %}
                </span>
                        <a href="{{ nextPost.url}}">
                {% include "partials/ui-translate.liquid",
                    enName: nextPost.data.title,
                    spName: nextPost.data.spTitle,
                    sLName: nextPost.data.sLTitle %}
                        </a>
            </p>
    </div>
{% endif %}
{% en %}<ul class="chapters">
{% for item in collections.sorted_method %}
{% if item.url != page.url %}
<li><span><a href="{{item.url}}">{{ item.data.title }}</a></span></li>
{% else %}
<li aria-current="page">{{ item.data.title }}</li>
{% endif %}
{% endfor %}
</ul>{% enden %}

{% sp %}<ul class="chapters">
{% for item in collections.sorted_method %}
{% if item.url != page.url %}
<li><span><a href="{{item.url}}">{{ item.data.spTitle }}</a></span></li>
{% else %}
<li aria-current="page">{{ item.data.spTitle }}</li>
{% endif %}
{% endfor %}
</ul>{% endsp %}

{% sl %}<ul class="chapters">
{% for item in collections.sorted_method %}
{% if item.url != page.url %}
<li><span><a href="{{item.url}}">{{ item.data.sLTitle }}</a></span></li>
{% else %}
<li aria-current="page">{{ item.data.sLTitle }}</li>
{% endif %}
{% endfor %}
</ul>{% endsl %}
{% endsplit %}
