--- 
layout: _layouts/page.html
breadcrumb:
  - enName: Common Sitelen Pona
    sLName: sitelen pona kulupu 
    spName: sitelen pona kulupu
    link: /common/
  - enName: Method
    sLName: nasin pi alasa sona
    spName: nasin pi alasa sona
    link: /method.html
---

<style>
    .chapters{
        list-style:none;
        padding: 0;
        display: flex;
        position: relative;
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 70rem;
        max-width: 100%;
        margin-inline: auto;
        justify-content: center;

    }
    .chapters li:not(:first-of-type){
        padding-left: 0.25em;
        padding-bottom: 0.5em;
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        outline: 0.2rem solid var(--walo);
        background-color: var(--kule-1);

    }
    .chapters li:not(:last-of-type){
        border-bottom: none;
    }
    .chapters a{
        color: var(--pimeja);
        text-decoration: none;
    }
    .chapters li:first-of-type a{
        text-decoration: underline;

    }
    .chapters a:is(:hover, :focus-visible){
        text-decoration: underline;
        color: var(--pimeja);
    }
        .chapters [aria-current="page"]:not(:first-of-type){
        background-color: var(--kule-3);
    }


    main{
        position: relative;
    }

    span:has(.tiers){
    margin: auto;
}
.tiers :is(td, th){
    padding: .5rem 2rem .5rem .5rem;
    max-width: 30rem;
    vertical-align: top;
}
.tiers td:first-of-type{
    white-space: nowrap;
}
thead {
    border-bottom: solid 2px var(--pimeja);
}
.tiers{
    margin-block: 2em;
    text-align: left;
    border-collapse: collapse
}
.tiers[lang="en"]{
    width: var(--en-split);
    max-width: 100%;
}
tbody tr:nth-child(2n-1) {
    background-color: var(--kule-1);
}
caption {
    text-align: left;
    padding-left: .5rem;
}
h3, h4{
    margin: 2rem auto 0;
}

.tech{
    background-color: var(--kule-1);
    margin-block: 0.2rem;
    font-family: monospace;
}

.next{
    text-align: right;
    margin: 2rem 0;
    color: var(--pimeja);
    font-variation-settings: "wdth" 75;
    justify-self: end;
    max-width: calc(var(--en-split) + var(--sp-split));
    grid-column: 2 / 5;
}
.split:has(.chapters){
    justify-items: center;
    justify-content: center;
    align-items: center;

}
.split:has(.chapters) :is(span[lang="tok"], span[lang="en"]){
    max-width:20rem;
}

.next a{
    display: block;
}

.chapters li:first-of-type{
    width: 100%;
    flex: 100%;
    position: absolute;
    text-align: center;
    height: 2rem;
    top: -2rem;
}
@media (max-width: 60rem){
    :is([data-selected-language="en"],[data-selected-language="bilingual"])
    .chapters{
     flex-wrap: wrap;
    }
    .chapters li {
        flex: 30%;
    }
}
@media (max-width: 50rem){
    [data-selected-language="tok"][data-selected-script="sl"]
    .chapters{
        flex-wrap:wrap;
    }
    .chapters li {
        flex: 18%;
    }
}
@media (max-width: 35rem){
    [data-selected-language="tok"][data-selected-script="sl"]
 
    .chapters li {
        flex: 30%;
    }
}

@media (max-width: 50rem){
    [data-selected-language="tok"][data-selected-script="sp"]
    .chapters{
        flex-wrap:wrap;
    }
    .chapters li {
        flex: 30%;
    }
}






</style>
{% assign nextPost = collections.sorted_method | getNextCollectionItem: page %}


<ul class="chapters">
{% for item in collections.sorted_method %}
{% if item.url != page.url %}
<li><span><a href="{{ item.url }}">{%- include "partials/ui-translate.liquid", 
            enName: item.data.title,
            spName: item.data.spTitle, 
            sLName: item.data.sLTitle -%}</a></span></li>
{% else %}
<li aria-current="page">{%- include "partials/ui-translate.liquid", enName: item.data.title,
            spName: item.data.spTitle, 
            sLName: item.data.sLTitle -%}</li>
{% endif %}
{% endfor %}
</ul>




{{ content }}



{% if nextPost %}
    <div class="split">
        <div class="next" >
                <p>
                    <span>
                        {% include "partials/ui-translate.liquid",
                            enName: "Next:",
                            spName: "lipu kama li ni>zz",
                            sLName: "lipu kama:" %}
                    </span>
                            <a href="{{ nextPost.url}}">
                    {% include "partials/ui-translate.liquid",
                        enName: nextPost.data.title,
                        spName: nextPost.data.spTitle,
                        sLName: nextPost.data.sLTitle %}
                            </a>
                </p>
        </div>
    </div>
{% endif %}



