--- 
layout: _layouts/page.html
breadcrumb:
  - name: Common Sitelen Pona
    link: /common/
  - name: Method
    link: /content/method/
---

<style>
    .chapters{
        list-style:none;
        padding: 0;
    }
    .chapters li{
        padding-left: 1em;
        padding-bottom: 0.5em;
    }
    .chapters a{
        color: var(--kule-8);
        text-decoration: none;
    }
    .chapters a:is(:hover, :focus-visible){
        text-decoration: underline;
        color: black;
    }
    
    .chapters [aria-current="page"]{
        list-style-type: '→';
    }

    main{
        position: relative;
    }
</style>


{{ content }}


{% split %}
{% en %}<ul class="chapters">
{% for item in collections.sorted_method %}
{% if item.url != page.url %}
<li><span><a href="{{item.url}}">{{ item.data.title }}</a></span></li>
{% else %}
<li aria-current="page">{{ item.data.title }}</li>
{% endif %}
{% endfor %}
</ul>{% enden %}

{% sp %}<p>content</p>{% endsp %}

{% sl %}<p>content</p>{% endsl %}
{% endsplit %}
